$color-fondo:		#F1F0E7; /*vainilla*/
$color-1:			#22AA86; /*azul*/
$color-3:           #CAE922; /*verde*/
$celeste-claro:		#bdf4fc;

$color-negro: 		#252525;
$color-gris:		#9e9e9e;
$gris-claro:		#ced4da;
$gris-mas-claro:	#f2f2f2;
$color-blanco:		#ffffff;

$font-1:			'Montserrat', sans-serif;;
$font-2:			'Source Sans Pro', sans-serif;

$border-radius:		5px;